doctype html
html
  head
    meta(charset='utf-8')
    title= metadata.title
    meta(property='og:type' content='website')
    meta(property='og:title' content=metadata.title)
    meta(property='og:description' content=metadata.description)
    meta(property='og:image' content=metadata.image)
    meta(property='al:web:should_fallback' content='false')
    meta(property='al:android:url' content=metadata.url)
    meta(property='al:android:package' content='com.estickerapp.android')
    meta(property='al:android:app_name' content='Esticker')
    //-
      meta(property='al:ios:url' content=metadata.url)
      meta(property='al:ios:app_store_id' content='1234')
      meta(property='al:ios:app_name' content='Esticker')
  body
    script.
      var userAgent = navigator.userAgent
      if (userAgent.match(/iPhone|iPad|iPod/)) {
        location.href = 'https://itunes.apple.com/kr/app/에스티커/id1259944350';
      }else{
        location.href = 'https://play.google.com/store/apps/details?id=com.estickerapp.android';
      }
